* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  /*background: url("images/bedge_grunge.png") 0 0 repeat;*/
}

.clearer {
  clear: both;
}

.container header {
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 20px;
  background: #222;
}

.container header .logo {
  font-size: 14px;
  font-weight: bold;
  float: left;
  color: #fff;
}

.container header .right {
  float: right;
  margin-top: 3px;
}

.container .centered {
  width: 1051px;
  margin: 0 auto;
}

.container .centered .board-header {
  width: 770px;
  height: 30px;
  position: relative;
  font-size: 14px;
}

.container .centered .board-header .left {
  position: absolute;
  left: 0;
}

.container .centered .board-header .right {
  position: absolute;
  right: 0;
}

.container .board {
  width: 770px;
  height: 770px;
  float: left;
  position: relative;
  background-image: url("../images/retina_wood_@2X.png");
  border-radius: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container .board .inner {
  width: 780px;
  height: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -360px 0 0 -360px;
}

.container .board .inner table {
  position: relative;
}

.container .board .inner table td {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
}

.container .board .matrix {
  width: 780px;
  height: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -379px 0 0 -379px;
  z-index: 2;
}

.container .board .matrix table {
  position: relative;
}

.container .board .matrix table td {
  width: 40px;
  height: 40px;
  position: relative;
}

.container .board .matrix table td .starpoint {
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 10px;
  position: absolute;
  top: 17px;
  left: 17px;
}

.container .board .matrix table td .stone {
  width: 39px;
  height: 39px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.container .board .matrix table td .stone.ghost {
  opacity: 0.5;
}

.container .board .matrix table td .stone.white {
  background-image: -moz-radial-gradient(12px 7px, circle farthest-corner, white, #ecebeb 22px);
  background-image: -webkit-radial-gradient(12px 7px, circle farthest-corner, white, #ecebeb 22px);
  background-image: -o-radial-gradient(12px 7px, circle farthest-corner, white, #ecebeb 22px);
  background-image: -ms-radial-gradient(12px 7px, circle farthest-corner, white, #ecebeb 22px);
  background-image: radial-gradient(12px 7px, circle farthest-corner, white, #ecebeb 22px);
}

.container .board .matrix table td .stone.black {
  background-image: -moz-radial-gradient(12px 7px, circle farthest-corner, #444, #111 22px);
  background-image: -webkit-radial-gradient(12px 7px, circle farthest-corner, #444, #111 22px);
  background-image: -o-radial-gradient(12px 7px, circle farthest-corner, #444, #111 22px);
  background-image: -ms-radial-gradient(12px 7px, circle farthest-corner, #444, #111 22px);
  background-image: radial-gradient(12px 7px, circle farthest-corner, #444, #111 22px);
}

.container .board .matrix table td .stone .marker {
  width: 9px;
  height: 9px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 8px;
}

.container .board .matrix table td .stone.white .marker {
  background: #ccc;
}

.container .board .matrix table td .stone.black .marker {
  background: #666;
}

.container .chat {
  width: 239px;
  height: 300px;
  float: left;
  border: 1px solid #444;
  margin-left: 30px;
  position: relative;
  overflow: scroll;
}

.container .chat header {
  font-size: 14px;
  font-weight: bold;
  background: #444;
}

.container .chat .content {
  padding: 0 10px;
}

.container .chat .content .message {
  padding: 1px 0;
  line-height: 16px;
  color: #444;
}

.container .chat .content .message.system {
  font-style: italic;
}

.container .chat .content .message.command {
  color: #666;
}

.container .chat .content .message span {
  font-weight: bold;
}

.container .chat-input {
  float: left;
  width: 239px;
  height: 20px;
  margin-left: 30px;
}

.container .chat-input input {
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid #222;
  border-top: none;
}

.container .chat-input input:focus {
  outline: none;
}